---
title: Guidelines
layout: default
permalink: /guidelines/

# Content for Dashboard
excerpt: "In this section you will find a list of common UI/UX patterns, as well as how you should approach different scenarios when these patterns must be used."
---

<div class="gap-6 grid grid-cols-3 pt-8">
  {% for page in site.pages %}
    {% if page.category == "Guidelines" %}
    <div class="bg-white p-6 rounded">
      <h3 class="mb-2">{{ page.title }}</h3>
    </div>
    {% endif %}
  {% endfor %}
</div>
