---
layout: default
title: Dashboard
permalink: '/'
---

<div class="cards-grid">
  <div class="bg-neutral text-white xl:col-span-2 card card-side rounded">
    <div class="card-body w-3/5">
      <h2 class="mb-2 card-title">The Kitware UI/UX design system</h2>
      <p class="mb-4">Kitware's applications are more than just a composition of reusable UI components. There should be structure and meaningful interactions. This design system will help both designers and developers keep consistent across the board by defining Kitware's way of thinking about UI/UX.</p>
    </div>
    <figure class="p-10 !w-2/5">
      <img src="{{ site.baseurl }}assets/images/building-blocks.png" alt="" class="!w-full !h-auto">
    </figure>
  </div>
  {% for page in site.pages %}
    {% if page.category == null and page.url != "/" and page.title != nil %}
    {% capture thecycle %}{% cycle 'border-primary', 'border-secondary', 'border-accent' %}{% endcapture %}
      <div class="border-t-4 {{ thecycle }} bg-white card rounded">
        <div class="card-body">
          <h3 class="mb-2 text-neutral-focus text-light card-title">{{ page.title }}</h3>
          <p class="mb-4">{{ page.excerpt }}</p>
          <div class="card-actions">
            <a href="{{ page.url | relative_url }}" class="btn">
              Learn more
              <i class="ri-arrow-right-s-line text-base ml-4"></i>
            </a>
          </div>
        </div>
      </div>
    {% endif %}
  {% endfor %}
</div>
