<div class="gap-10 grid lg:grid-cols-2 py-8">
    {% for item in section.content %}
      {% if item.type != "cta" %}
      <div>
        <h3 class="flex items-center"><span class="font-normal mr-4 text-5xl text-base-300 w-6">{{ forloop.index }}.</span> {{ item.subheading }}</h3>
        <div class="pl-10 pt-4">
          {% for text in item.text %}
            {% if text.ul %}
              <ul class="list-disc mb-6 pl-8">
                {% for li in text.ul %}
                  <li>{{ li }}</li>
                {% endfor %}
              </ul>
            {% elsif text.ol %}
              <ol class="list-decimal mb-6 pl-8">
                {% for li in text.ol %}
                  <li>{{ li }}</li>
                {% endfor %}
              </ol>
            {% else %}
              <p>{{ text }}</p>
            {% endif %}
          {% endfor %}
          {% if item.image %}
            <img src="{{ item.image }}" class="h-auto w-full mt-8">
          {% endif %}
        </div>
      </div>
      {% else %}
      <div class="cta bg-neutral border-l-[6px] border-secondary ml-10 text-gray-400">
        <div class="p-8 pb-10">
          <h3 class="text-white mb-4">{{ item.subheading }}</h3>
          {% for text in item.text %}
            {% if text.ul %}
              <ul class="list-disc mb-6 pl-8">
                {% for li in text.ul %}
                  <li>{{ li }}</li>
                {% endfor %}
              </ul>
            {% elsif text.ol %}
              <ol class="list-decimal mb-6 pl-8">
                {% for li in text.ol %}
                  <li>{{ li }}</li>
                {% endfor %}
              </ol>
            {% else %}
              <p>{{ text }}</p>
            {% endif %}
          {% endfor %}
          {% if item.image %}
            <img src="{{ item.image }}" class="h-auto w-full mt-8">
          {% endif %}
        </div>
      </div>
      {% endif %}
    {% endfor %}
</div>
