<div class="card h-full overflow-visible">
    <div class="card-body">
        <h3>Need additional help?</h3>
        <p>This design system most likely isn't a catch-all for every UI/UX issues you're facing, but we do want to make sure it is as complete as it can be. <strong>If you're running into issues that require UI/UX expertise:</strong></p>
        <div class="gap-4 grid md:grid-cols-2 md:-mb-16">
            <div class="bg-gradient-to-b card from-base-100 to-base-200 border border-base-300 !drop-shadow">
                <div class="card-body px-5 pt-4 pb-5">
                    <h5 class="border-b border-slate-300 pb-1 mb-2">Reach out to the UI/UX Design team</h5>
                    <p class="text-sm">Email our team if you're looking to add a designer to your project. This will make sure the entire team gets your request and we can assign it out from there.</p>
                    <div class="card-actions">
                        <a
                            href="mailto:uiux@kitware.com"
                            class="btn gap-2"
                        >
                            <i class="ri-mail-line font-normal text-xl"></i>
                            Send us an email
                            <i class="ri-arrow-right-s-line text-base"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="bg-gradient-to-b card from-base-100 to-base-200 border border-base-300 !drop-shadow">
                <div class="card-body px-5 pt-4 pb-5">
                    <h5 class="border-b border-slate-300 pb-1 mb-2">Create a Github issue</h5>
                    <p class="text-sm">Submit an issue on Github for any UI/UX issues that you would like to see added. You may also submit an issue to leave feedback on this site (ie. bugs or errors).</p>
                    <div class="card-actions">
                        <a
                            href="https://github.com/jtomeck/kw-design-system/issues/new"
                            class="btn gap-2"
                            target="_blank"
                        >
                            <i class="ri-github-fill font-normal text-xl"></i>
                            Create an issue
                            <i class="ri-arrow-right-s-line text-base"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
