<header class="flex flex-wrap items-center w-full">
    <div class="bg-white w-full z-[100] lg:w-64">
        <div class="border-b-2 border-gray-200 flex h-20 items-center lg:px-4">
            <div class="burger-button cursor-pointer flex h-20 lg:hidden items-center justify-center mr-5 opacity-75 w-20">
                <div class="burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <h1 class="flex flex-wrap items-center pb-1">
                <span class="font-extrabold mr-2 text-primary text-6xl">KW</span>
                <span class="font-serif text-base">UI/UX <span class="block leading-4">Design System</span></span>
            </h1>
        </div>
    </div>
    <div class="search bg-white w-full z-[80] lg:flex-1 lg:flex-grow lg:w-0">
        {% include searchbar.html %}
    </div>
</header>
