<header class="flex flex-wrap items-center w-full">
    <div class="bg-white w-full lg:w-[280px] z-[100]">
        <div class="border-b-2 border-base-200 flex h-20 items-center sm:px-4">
            <label
                x-data="{ clicked: false}"
                x-on:click="clicked = ! clicked"
                for="my-drawer"
                class="sm:hidden drawer-button btn btn-ghost btn-circle mx-2 swap swap-rotate"
                :class="{ 'swap-active' : clicked }"
            >
                <i class="ri-menu-line swap-off text-lg"></i>
                <i class="ri-close-line swap-on text-xl"></i>
            </label>
            <h1 class="flex gap-2 items-center py-4 h-full">
                <img src="{{ site.baseurl }}assets/images/Kitware-Mark.png" alt="Kitware, Inc." class="max-h-full">
                <span class="font-serif text-lg">UI/UX <span class="block leading-4">Design System</span></span>
            </h1>
        </div>
    </div>
    <div class="search bg-white w-full z-[80] lg:flex-1 lg:flex-grow lg:w-0">
        {% include searchbar.html %}
    </div>
</header>
