<div class="relative">
  <i class="ri-search-line absolute block left-5 text-2xl top-4 lg:top-6 z-[100]"></i>

  <input class="border-b-2 border-base-200 ease-in-out font-thin h-12 lg:h-20 outline-none p-8 pl-16 text-2xl transition-all w-full focus:border-secondary focus:drop-shadow-xl" id="search-input" placeholder="Search" type="search">
  <ul id="results-container" class="absolute bg-neutral hidden max-h-[calc(100vh-146px)] lg:max-h[calc(100vh-80px)] overflow-y-auto drop-shadow-[0_20px_20px_10px_rgba(0,0,0,0.2)] top-auto w-full z-[90]"></ul>
</div>
