<div class="bg-white h-full overflow-y-auto">
    {% if site.pages  %}

        <ul class="menu space-y-1 p-4">
            <li>
                <a href="{{ site.baseurl }}" class="{% if page.url == '/' %}active{% endif %}">
                    <span class="flex items-center">
                        <i class="ri-dashboard-3-line mr-2"></i>
                        Dashboard
                    </span>
                </a>
            </li> 

            {% for collection in site.collections %}
                {% if collection.label != "posts" %}

                    {% assign csize = collection.docs | size %}

                    <li>
                        <a href="{{ collection.archive_url }}" class="flex justify-between {% if page.url == collection.archive_url %}active{% endif %}">
                            <span class="flex items-center">
                                <i class="{{ collection.icon }} mr-2"></i>
                                {{ collection.title }}
                            </span>
                            <span class="text-xs">
                                {{ csize }}
                            </span>
                        </a>

                        <!-- Dropdown -->
                        {% if csize > 0 %}
                            {% if collection.title == page.title or collection.label == page.collection %}
                                <ul class="menu my-2 space-y-1 !pl-0">
                                    {% for item in collection.docs %}
                                    <li>
                                        <a href="{{ item.url }}" class="{% if page.url == item.url or page.collection == page.title %}active{% endif %} !py-2 !pl-8">
                                            <span class="flex items-center">
                                                <i class="ri-arrow-drop-right-line"></i>
                                                {{ item.title }}
                                            </span>
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

    {% endif %}
</div>
