/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@layer base {

  body {
    @apply h-screen overflow-hidden text-secondary-700;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-thin text-secondary-700;
  }

  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-4xl;
  }

  h3 {
    @apply font-normal text-2xl;
  }

  h4 {
    @apply font-serif text-accent-500 text-lg uppercase;
  }

  h5 {
    @apply font-normal text-xl;
  }

  h6 {
    @apply font-normal text-gray-500 text-lg;
  }

  p {
    @apply mb-4;
  }

  .burger {
    @apply block;
    height: 20px;
    width: 20px;
  }

  .burger span {
    @apply bg-white block my-1 rounded-full w-full;
    height: 2px;
  }

  .closed {
     @apply -left-64 lg:left-auto;
  }

  .main-content {
    @apply flex w-full;
    height: calc(100vh - 80px); /* 100vh - { height of topbar } */
  }

  /* Navigation Styles */
  .navmenu .nav-item {
    @apply text-sm;
  }

  .navmenu .nav-item a {
    @apply border-r-4 border-transparent flex group items-center justify-between px-3 py-2 text-secondary-400;
  }

  .navmenu .nav-item a:hover,
  .navmenu .nav-item.active a {
    @apply bg-gradient-to-r border-accent-500 from-transparent to-secondary-700 text-secondary-200;
  }

  .navmenu .nav-item a i {
    @apply mr-3 text-secondary-600 text-xl;
  }

  .navmenu .nav-item a:hover i,
  .navmenu .nav-item.active a i {
    @apply text-accent-500;
  }

  .navmenu .nav-item .dropdown {
    @apply pb-2;
  }

  .navmenu .nav-item .dropdown a {
    @apply pl-10 py-1 text-secondary-400;
  }

  .navmenu .nav-item .dropdown a:hover,
  .navmenu .nav-item .dropdown a.active {
    @apply border-accent-400 text-white to-secondary-600;
  }

  .navmenu .nav-item .dropdown a i {
    @apply mr-1;
  }

}
