---
---

{% include head.html %}

<!-- Site Header (logo and searchbar) -->
{% include header.html %}

<!-- Content Area -->
{% comment %}
.case-studies container is needed to apply styles strictly to the case studies pages without having
to write a ton of new page structure.
{% endcomment %}
<main class="site-body">
    {% include drawer_start.html %}
    <div class="case-studies">
        <div class="page-hero">
            <div class="content-wrap">
                <div class="md:gap-20 md:grid md:grid-cols-2">
                    <div class="flex flex-col justify-center">
                        <h4 class="leading-5 text-secondary">{{ page.collection }}</h4>
                        <h1 class="title">{{ page.title }}</h1>

                        <p class="excerpt">{{ page.excerpt }}</p>
                    </div>
                    <div>
                        <img src="{{ page.image }}" class="w-full h-auto shadow-xl">
                    </div>
                </div>
            </div>
        </div>

        <!-- Project Details -->
        <div class="project-details page-content">
            <div class="content-wrap">
                <!-- Project Overview -->
                <div class="
                    overview
                    max-w-[980px]
                    mx-auto
                    bg-white
                ">
                    <h2>Overview</h2>
                    <p>{{ page.overview }}</p>
                </div>

                <!-- Project Info-->
                <div class="
                    project-info
                    pt-12
                    gap-4
                    grid
                    md:grid-cols-12
                ">
                    <div class="
                        secondary-info
                        md:col-span-4
                        lg:col-span-3
                    ">
                        <div class="process card">
                            <div class="card-body">
                                <h3 class="card-title">Process</h3>
                                <ul>
                                    {% for process_item in page.process %}
                                    <li>{{ process_item.title }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="tools card">
                            <div class="card-body">
                                <h3 class="card-title">Tools</h3>
                                <ul>
                                    {% for tool in page.tools %}
                                    <li>{{ tool }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="duration card">
                            <div class="card-body">
                                <h3 class="card-title">Project Duration</h3>
                                <p>3 months</p>
                            </div>
                        </div>
                    </div>
                    <div class="
                        primary-info
                        md:col-span-8
                        lg:col-span-9
                    ">
                        <div class="challenge card">
                            <div class="card-body">
                                <h3 class="card-title">The Challenge</h3>
                                <p>{{ page.challenge }}</p>
                            </div>
                        </div>
                        <div class="solution card">
                            <div class="card-body">
                                <h3 class="card-title">The Solution</h3>
                                <p>{{ page.solution }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Project Screens -->
        <div class="page-content project-screens">
            <div class="
                w-[288px]
                sm:w-[575px]
                md:w-[672px]
                lg:w-[648px]
                xl:w-[808px]
                2xl:w-[1064px]
                mx-auto
                relative
            ">
                <!-- Laptop -->
                <div class="laptop-overlay">
                    <img src="{{ site.baseurl }}assets/images/laptop.svg" class="w-full h-auto">
                </div>

                <!-- Carousel -->
                <div class="
                    carousel
                    absolute
                    bottom-[85px] inset-x-[32px] top-[7px]
                    sm:bottom-[106px] sm:inset-x-[65px] sm:top-[14px]
                    md:bottom-[113px] md:inset-x-[76px] md:top-[17px]
                    lg:bottom-[111px] lg:inset-x-[74px] lg:top-[16px]
                    xl:bottom-[123px] xl:inset-x-[92px] xl:top-[20px]
                    2xl:bottom-[142px] 2xl:inset-x-[121px] 2xl:top-[27px]
                ">
                    {% assign i = 0 %}
                    {% for image in page.screenshots %}
                        {% assign i = i | plus:1 %}
                        <div
                            id="item{{ i }}"
                            class="carousel-item block h-full overflow-y-auto w-full">
                            <img src="{{ image }}" class="w-full" />
                        </div>
                    {% endfor %}
                </div>

                <!-- Carousel Controls -->
                <div class="
                    flex
                    justify-center
                    w-full
                    py-2
                    pt-8
                    gap-2
                ">
                    {% assign n = 0 %}
                    {% for image in page.screenshots %}
                        {% assign n = n | plus:1 %}
                        <a href="#item{{ n }}" class="btn btn-xs">{{ n }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {% include drawer_end.html %}
</main>
</div>

{% include footer.html %}
