---
---

{% include head.html %}

<!-- Site Header (logo and searchbar) -->
{% include header.html %}

<!-- Content Area -->
<main class="site-body">
  <div class="nav-overlay bg-neutral-focus fixed opacity-[.9] hidden inset-0 z-[80]"></div>
  <div id="menu" class="navmenu closed bottom-0 fixed lg:static top-20 w-64 z-[90]">
    {% include sidebar.html %}
  </div>
  <div class="main-content">
    <div class="search-overlay bg-neutral-focus fixed opacity-[.9] hidden inset-0 z-[60]"></div>
    <div class="page-hero">
      <div class="content-wrap">
        <h4 class="leading-5 text-secondary">{{ page.collection }}</h4>
        <h1 class="title">{{ page.title }}</h1>

        <h2 class="definition">{{ page.definition }}</h2>
        <p class="excerpt">{{ page.excerpt }}</p>
      </div>
    </div>
    <div class="page-content">
      <div class="content-wrap">
        {% for section in page.sections %}
          <h2 class="mb-2">{{ section.heading }}</h2>
          {% if section.type == 'list' %}
            {% include content_list.html %}
          {% endif %}

          {% if section.type == 'grid' %}
            {% include content_grid.html %}
          {% endif %}

          {% if section.type == 'standard' %}
            {% include content_standard.html %}
          {% endif %}
        {% else %}
          {{ content }}
        {% endfor %}
      </div>
    </div>

  </div>
</main>

{% include footer.html %}
