---
---

{% include head.html %}

<!-- Site Header (logo and searchbar) -->
<header class="flex flex-wrap items-center w-full">
  <div class="bg-white w-full lg:w-64 z-20">
    <div class="border-b-2 border-gray-200 flex h-20 items-center lg:px-4">
      <div class="burger-button cursor-pointer flex h-20 lg:hidden items-center justify-center mr-5 opacity-75 w-20">
        <div class="burger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <h1 class="flex flex-wrap items-center pb-1">
        <span class="font-extrabold mr-2 text-primary text-6xl">KW</span>
        <span class="font-serif text-base">UI/UX <span class="block leading-4">Design System</span></span>
      </h1>
    </div>
  </div>
  <div class="bg-secondary-100 w-full lg:flex-1 lg:flex-grow lg:w-0 z-10">
    {% include searchbar.html %}
  </div>
</header>

<!-- Content Area -->
<main class="main-content">
  <div id="menu" class="navmenu closed bottom-0 fixed lg:static top-20 w-64 z-50">
    {% include sidebar.html %}
  </div>
  <div class="flex-1 flex-grow overflow-y-auto p-8 lg:px-24 lg:py-16 w-0">
    {% if page.title != blank %}
      {% if page.url != "/" and page.category != null %}

      <div class="w-full lg:w-3/4">
        {% if page.category %}
          <h4 class="leading-5">{{ page.category }}</h4>
        {% endif %}
        <h1>{{ page.title }}</h1>
        {{ content }}
      </div>

      {% elsif page.url != "/" and page.category == null %}

        <h1>{{ page.title }}</h1>
        {{ content }}

      {% else %}

        {{ content }}

      {% endif %}
    {% endif %}
  </div>
</main>

{% include footer.html %}
