---
---

{% include head.html %}
<main class="flex h-screen items-center justify-center w-full">
  <div class="bg-secondary-800 border-r border-secondary-200 h-screen pb-4 overflow-y-auto w-64">
    {% include sidebar.html %}
  </div>
  <div class="bg-secondary-100 flex-grow h-screen">
    {% include searchbar.html %}
    <div class="container mx-auto px-24 py-16">

      {% if page.category %}
        <h4 class="leading-5">{{ page.category }}</h4>
      {% endif %}
      {% if page.title %}
        <h1>{{ page.title }}</h1>
      {% endif %}
      {{ content }}
    </div>
  </div>
</main>

{% include footer.html %}
