---
---

{% include head.html %}

<!-- Site Header (logo and searchbar) -->
{% include header.html %}

<!-- Content Area -->
<main class="site-body">
  <div class="drawer drawer-mobile h-[calc(100vh-146px)] sm:h-[calc(100vh-80px)] w-full">
    <input id="my-drawer" type="checkbox" class="drawer-toggle">
    <div class="main-content drawer-content">
      <div class="search-overlay bg-neutral-focus fixed opacity-[.8] hidden inset-0 z-[60]"></div>
      {% if page.title != blank %}

        {% if page.url != "/" %}

          <h1>{{ page.title }}</h1>
          {{ content }}

        {% else %}

          {{ content }}

        {% endif %}
      {% endif %}
    </div>
    <div id="menu" class="drawer-side min-w-[280px]">
      <label for="my-drawer" class="drawer-overlay"></label>
      {% include sidebar.html %}
    </div>
  </div>
</main>

{% include footer.html %}
