---
---

{% include head.html %}

<!-- Site Header (logo and searchbar) -->
{% include header.html %}

<!-- Content Area -->
<main class="site-body">
  {% include drawer_start.html %}

  <div class="page-hero">
    <div class="content-wrap">
      <h4 class="leading-5 text-secondary">{{ page.collection }}</h4>
      <h1 class="title">{{ page.title }}</h1>
      <p class="excerpt mt-6 pt-6 border-t border-slate-600">{{ page.excerpt }}</p>
    </div>
  </div>

  <div class="page-content">
    {% assign collection_name = page.title | downcase | replace: " ", "-" %}
    {% if site[collection_name] %}
      <div class="cards-grid">
        {% for item in site[collection_name] %}
        <div class="card">
          {% if collection_name == 'case-studies' %}
          <figure><img src="{{ item.image }}"></figure>
          {% endif %}
          <div class="card-body">
            <h3 class="mb-2 text-neutral-focus card-title">{{ item.title }}</h3>
            <p class="mb-0 flex-grow">{{ item.excerpt }}</p>
            <div class="card-actions mt-4">
              <a href="{{ item.url | relative_url }}" class="btn gap-2">
                Learn more
                <i class="ri-arrow-right-s-line text-base ml-4"></i>
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    {% else %}
      <div class="text-center p-24 text-2xl font-thin text-slate-400">
        No {{ collection_name }} have been added yet. Please check back later!
      </div>
    {% endif %}
  </div>

  {% include drawer_end.html %}
</main>

{% include footer.html %}
